<?xml  version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
   
      <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://0.0.0.0:3306/your_mart</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping class="com.nagarro.pmp.PMPBackend.model.Admin"/>
       <mapping class="com.nagarro.pmp.PMPBackend.model.Seller"/>
        <mapping class="com.nagarro.pmp.PMPBackend.model.Product"/>
         <mapping class="com.nagarro.pmp.PMPBackend.model.Categories"/>
          <mapping class="com.nagarro.pmp.PMPBackend.model.SecondaryImages"/>
           <mapping class="com.nagarro.pmp.PMPBackend.model.PdfManual"/>
   </session-factory>
</hibernate-configuration>